<div id="id010" class="modalgg">
  <form class="modalg-contentjj animatez">
    <div class="containersr">
      <label for="uname"><b>Ваше Имя</b></label>
      <input type="text" placeholder="Иван" name="uname" required />

      <label for="pswd"><b>Номер</b></label>
      <input
        type="tel"
        placeholder="+7 (706)-842-88-99"
        name="pswd"
        required
      />

      <button class="ftbtv" type="submit">Отправить</button>
    </div>

    <div class="containersr">
      <button
        type="button"
        class="cancelbtnss"
        onclick="document.getElementById('id010').style.display='none'"
      >
        Отменить
      </button>
    </div>
  </form>
</div>