<div id="id010" class="modalgg">
  <form class="modalg-contentjj animatez" method="post" action="{% url 'contacts:contact_form' %}">
    {% csrf_token %}
    <div class="containersr">
      <label for="name"><b>Ваше Имя</b></label>
      <input
        id="id_name"
        class="form_in"
        type="text"
        placeholder="Иван"
        name="name"
        required
      />

      <label for="phone_number"><b>Номер</b></label>

      <input
        id="id_phone_number"
        type="tel"
        placeholder="+7 (706)-842-88-99"
        name="phone_number"
        required
        class="form_in"
      />

      <button class="ftbtv" type="submit">Отправить</button>
    </div>

    <div class="containersr">
      <button
        type="button"
        class="cancelbtnss"
        onclick="document.getElementById('id010').style.display='none'"
      >
        Отменить
      </button>
    </div>
  </form>
</div>