<div class="modal" id="my-modal">
    <div class="modal__box">
      <button class="modal__close-btn" id="close-my-btn">&#10006;</button>
      <h1 class="modal__h1">НАШИ УСЛУГИ</h1>
      <p class="modal__p">
        ALMA WEB WORK своим клиентам без посредников предоставляет
        комплексные услуги веб студии - создание сайтов и продвижение,
        разработка лендингов, интернет магазинов, проектов онлайн. Заказчики
        сайтов у нас получают не только авторский дизайн, профессиональное
        программирование, регистрацию домена, хостинг, но и бесплатное
        наполнение ресурса, поисковую оптимизацию, первичное продвижение,
        техническое обслуживание, обучение управлению сайтом, настройки
        контекстной рекламы, сопровождение и постоянный работающий тех
        поддержку.
      </p>
    </div>
  </div>
</div>