{% extends 'base.html' %}
{% block title %}Portal{% endblock title %}
{% block content %}
<body>
  <div class="container">
      <div class="page__flex">
        <div class="page__left">
          <h2 class="page__h2">Портал</h2>
          <p class="page__p">
            Портал – разработка многоступенчатого сайта с продуманной дизайн
            логикой и функциональными личными кабинетами пользователей.
            Удобнcvулей и статистических данных. Создание внутренней
            коммуникации под ваши бизнес задачи. функциональных модулей. С
            возможностью подключением сторонних программ и платежного шлюза.
          </p>
          <h3 class="page__h3">Когда необходим ?</h3>
          <p class="page__p">
            Воплощение уникальной идеи в технической реализации. Создание нового
            продукта.
          </p>
        </div>
        <div class="page__right page__right-magaz">
          <h2 class="page__h2">Задачи портального сайта</h2>
          <p class="page__p">
            Решение задач в соответствии концепцией сайта<br /><br /><br />
            Полезность / удобство <br /><br /><br />
            Привлечение заинтересованных сторон
          </p>
          <div class="page1__block">
            <div class="page__money">от 500 000 тг</div>
            <button onclick="document.getElementById('id010').style.display='block'" class="sec__link sec__link-pg">ОСТАВЬ ЗАЯВКУ</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
