{% extends 'base.html' %}
{% block title %}Prices{% endblock title %}
{% block content %}
<body>
  <div class="container">
    <main>
      <section class="prices">
        <div class="container">
          <div class="grid__prices">
            <div class="wrapper__prices">
              <h2 class="prices__h2">LANDING PAGE</h2>
              <div class="prices__money">от 100 000 тг</div>
              <button onclick="document.getElementById('id010').style.display='block'" 
                class="sec__link sec__link-pg prices__link pr__lupdate"
                >ОСТАВИТЬ ЗАЯВКУ</button>
            </div>
            <div class="wrapper__prices">
              <h2 class="prices__h2">САЙТ ВИЗИТКА</h2>
              <div class="prices__money">от 200 000 тг</div>
              <button onclick="document.getElementById('id010').style.display='block'" 
                class="sec__link sec__link-pg prices__link pr__lupdate"
                >ОСТАВИТЬ ЗАЯВКУ</button>
            </div>
            <div class="wrapper__prices">
              <h2 class="prices__h2">Корпоративный сайт</h2>
              <div class="prices__money">от 250 000 тг</div>
              <button onclick="document.getElementById('id010').style.display='block'" 
                class="sec__link sec__link-pg prices__link pr__lupdate"
                >ОСТАВИТЬ ЗАЯВКУ</button>
            </div>
            <div class="wrapper__prices">
              <h2 class="prices__h2">Интернет Магазин</h2>
              <div class="prices__money">от 300 000 тг</div>
              <button onclick="document.getElementById('id010').style.display='block'" 
                class="sec__link sec__link-pg prices__link pr__lupdate"
                >ОСТАВИТЬ ЗАЯВКУ</button>
            </div>
            <div class="wrapper__prices">
              <h2 class="prices__h2">Портал</h2>
              <div class="prices__money">от 500 000 тг</div>
              <button onclick="document.getElementById('id010').style.display='block'" 
                class="sec__link sec__link-pg prices__link pr__lupdate"
                >ОСТАВИТЬ ЗАЯВКУ</button>
            </div>
            <div class="wrapper__prices">
              <h2 class="prices__h2">Промо-сайт</h2>
              <div class="prices__money">от 100 000 тг</div>
              <button onclick="document.getElementById('id010').style.display='block'" 
                class="sec__link sec__link-pg prices__link pr__lupdate"
                >ОСТАВИТЬ ЗАЯВКУ</button>
            </div>
          </div>
          <h1 class="prices__h1">ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</h1>
          <div class="grid__prices">
            <div class="wrapper__prices">
              <h2 class="prices__h2">РАЗРАБОТКА ЛОГОТИПА</h2>
              <div class="prices__money">от 30 000 тг</div>
              <button onclick="document.getElementById('id010').style.display='block'" 
                class="sec__link sec__link-pg prices__link pr__lupdate"
                >ОСТАВИТЬ ЗАЯВКУ</button>
            </div>
            <div class="wrapper__prices">
              <h2 class="prices__h2">SEO</h2>
              <div class="prices__money">от 100 000 тг</div>
              <button onclick="document.getElementById('id010').style.display='block'" 
                class="sec__link sec__link-pg prices__link pr__lupdate"
                >ОСТАВИТЬ ЗАЯВКУ</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
{% endblock content %}
