{% extends 'base.html' %}
{% block title %}Promo{% endblock title %}
{% block content %}
<body>
  <div class="container">
      <div class="page__flex">
        <div class="page__left">
          <h2 class="page__h2">Промо-сайт</h2>
          <p class="page__p">
            Промо-сайт – небольшой, яркий, креативный сайт, привлекающий
            внимание. Концентрация внимания пользователей конкретно на одном
            продукте не рассеивая внимание посетителя на мелкие детали, на
            разрабатывается качественная отрисованная графика с анимированными
            эффектами.
          </p>
          <h3 class="page__h3">Когда необходим ?</h3>
          <p class="page__p">
            Привлечение внимание аудитории к бренду Выход на рынок нового
            продукта
          </p>
        </div>
        <div class="page__right">
          <h2 class="page__h2">Задачи Промо сайта</h2>
          <p class="page__p">
            Креативная подача продукта Запоминающийся имидж сайта Презентация
            аудитории нового продукта / услуги / события
          </p>
          <div class="page1__block">
            <div class="page__money">от 100 000 тг</div>
            <button onclick="document.getElementById('id010').style.display='block'" class="sec__link sec__link-pg">ОСТАВЬ ЗАЯВКУ</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}

