{% extends 'base.html' %}
{% block title %}Business portal{% endblock title %}
{% block content %}
<body>
  <div class="container">
      <div class="page__flex">
        <div class="page__left">
          <h2 class="page__h2">Сайт-Визитка</h2>
          <p class="page__p">
            Сайт-Визитка - создается в фирменном стиле компании, наполнение
            информативным контентом о компании, услугах и спец предложениях.
            Наши специалисты создадут для Вас индивидуальный стиль сайта и
            сделают его запоминающимся, уникальные текстовое и графическое
            наполнение, с применением адаптивной верстки. Позволит посетителю
            сайта кратко, но емко ознакомиться с деятельностью вашей компании.
          </p>
          <h3 class="page__h3">Когда необходим сайт визитка ?</h3>
          <p class="page__p">
            Информирование клиентов Если вашему продукту необходима узнаваемость
            и увеличение продаж Создать коммуникацию с посетителями сайта
          </p>
        </div>
        <div class="page__right">
          <h2 class="page__h2">Задачи сайта визитки</h2>
          <p class="page__p">
            Представить информацию о компании, или персоне Обеспечить связь и
            посетителя сайта с владельцем сайта Информировании о деятельности, о
            планах компании или частного лица
          </p>
          <div class="page1__block">
            <div class="page__money">от 200 000 тг</div>
            <button onclick="document.getElementById('id010').style.display='block'" class="sec__link sec__link-pg">ОСТАВЬ ЗАЯВКУ</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}

